*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


body{
    background:rgb(255, 255, 255);
    /* background-image: url(image/back2.jpg); */
     height: 100vh;
    overflow: hidden;
    position: center;
  
}

.header{ 
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 10px,8%;
    text-align: center;
    color: #fff;
    
}
nav{
    background-color:rgb(253, 253, 253) ;
    width: 100%;
    display: hidden;
    align-items: center;
    justify-content: space-between;
    transition: background 1s;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
    float: left;
    cursor:crosshair;
}

 .image{
    width: 30rem;
}

.btn{
    background: linear-gradient(#6a33ff,#351188);
    color: #fff;
    font-size: 16px;
    padding: 17px 30px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    align-content: center ;
}
nav .logo{
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    color: #fff;
}

nav ul li{ 
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #070000;
    font-weight: 500;
    font-size:large;
    
}

nav:hover{
    background: rgb(195, 203, 243);
}
nav:hover .logo{
    color: #333;
}
nav:hover ul li a{
    color: #f70707;
    box-shadow: #351188;
}
.content{ 
    margin: 10px 20px;
    margin-top: 9%;
    margin-left: 9%;
    /* color: #fffeff; */
}
.content h1{
    font-size: 71px;
    line-height: 70px;
    font-weight:600 ;
    opacity: 0;
    color: rgb(255, 24, 8);
}
.content p{
    color: #070000;
}
.btn{
    margin-top: 30px;
    opacity: 0;
}

.btn a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
}
.btn:hover{
    background: #240202;
} 

.slideleft{
    animation: slide-left 1s linear forwards;
}
@keyframes slide-left{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0x);
        opacity: 1;
    }
    
    
}
h1.slideleft{
    animation-delay: 1s;
}
/* btn.slideleft{
    animation-delay: 2s;
} */